page-result {
	.risk{
		color: #FFBDBD;
		font-size: 1.2em;
		margin: 4px;
		font-family: "Open Sans";
		font-weight: 100;
	}
	.conseil{
		color: #9EC9CF;
		font-size: 1.2em;
		margin: 4px;
		font-family: "Open Sans";
		font-weight: 100;
	}
	.positif{
		color: $green;
		font-size: 1.2em;
		margin: 4px;
		font-family: "Open Sans";
		font-weight: 100;
	}
.swipe-helper{
	font-size: 40px;	
}
}

